.banner{
  width: 100%;
  height:100vh; 
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider{
  width: 200px;
  height: 250px;
  position: absolute;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);

}
.banner .slider .item{
 
 
  position: absolute;
  inset: 0 0 0 0;
  transform:
  rotate(calc(var(--position)-1)*(360/var(--quantity)*1deg)) 
  translateZ(550px);
}
.banner .slider .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}